<div :if={@live_action == :show} id={"room-#{@room.id}"} class="p-4 sm:ml-64">
  <Messages.list_messages messages={@streams.messages} scrolled_to_top={@scrolled_to_top} />
  <.live_component
    module={MessageForm}
    room_id={@room.id}
    sender_id={@current_user.id}
    id={"room-#{@room.id}-message-form"}
  />
</div>
